video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
iframe {
  width: 50%;
  max-width: 800px;
  height: 50vh;
  z-index: 1;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-top: 10px;
}
.video-background {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.centeredHeading {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  font-size: 40px;
  font-family: "Yellowtail", cursive;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.2);
  padding-left: 40%;
  padding-right: 40%;
}
.bottom {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  font-size: 36px;
}
#expandable-section {
  display: none; /* Initially hide the section */
  /* Other styles for the section */
}
