body {
  font-family: "poppins", sans-serif;
  background-color: #272044;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)),
    url("./images/pexels-edvin-richardson-796206.jpg ");
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  text-align: center;
  padding: 260px 0;
}
h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 1.5;
  margin: 0;
}
h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 1.5;
  margin: 0;
}
h3 {
  font-weight: 900;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 5px;
  margin: 0;
}
header a {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: #272044;
  padding: 16px 32px;
  margin-top: 32px;
  display: inline-block;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
  background: white;
}
section {
  padding-top: 100px;
}
main {
  background-color: #ffffff;
}
main h2 {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  letter-spacing: 5px;
  color: #030034;
  opacity: 0.3;
  text-transform: uppercase;
}

main h3 {
  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  color: #030034;
  margin: 0;
}
main p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  opacity: 0.7;
}
iframe {
  width: 100%;
  max-width: 800px;
  height: 50vh;
  padding-top: 10px;
}

footer {
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.4)),
    url("./images/pexels-edvin-richardson-796206.jpg ");

  background-repeat: no-repeat;
  background-size: cover;
  padding: 60px 0;
}
footer h3 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
}

footer p {
  font-weight: 400;
  font-size: 16px;
  opacity: 0.7;
  line-height: 24px;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer a {
  color: white;
  opacity: 0.7;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}
.compositions-grid-2-col {
  grid-template-columns: 1fr 1fr;
  text-align: left;
  padding-bottom: 64px;
}
.grid {
  display: grid;
  grid-gap: 64px;
}
.grid-footer {
  grid-template-columns: 1fr 1fr;
  text-align: center;
}

#expandable-section {
  display: none; /* Initially hide the section */
  /* Other styles for the section */
}
@media (max-width: 900px) {
  header {
    padding: 60px 0;
  }

  header h1 {
    font-size: 48px;
  }

  header h2 {
    font-size: 20px;
  }

  header h3 {
    font-size: 12px;
  }
}
